/* This website was built on a wide-screen monitor, resolution 1920 x 1080 px,
   so I have re-used the 'site-container' concept intrduced in the 'Secret Agent'
   wesbite to keep the content looking as similar as possible to the wireframe  */

/* Universal Styling */

html{
    font-size: 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.lighttext, .darktext {
    font-size: 2rem;
}
.lighttext{
    color: #a39f9f;
}

.darktext{
    color: #0e0d0d;
    font-weight: bold;
}

h1{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.2rem;
}

h2{
    font-size: 1.5rem;
    line-height: 1.8rem;
}

h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h4{
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

.site-container{
    display:flex;
    max-width: 960px;
    margin: 0 auto;
}

/* Header Section Styling */

header{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: white;
}

.logo{
    display:flex;
    flex: 1;
    align-items: center;
    margin-left: 1.5rem;
    height: 4rem;
}

.logo img{
    width: 2.5rem; 
}

.desktop{
    display:flex;
    align-items: center;
    margin-right: 1.5rem;
}

.desktop li{
    display: inline;
    margin-left: 1rem;
}

.desktop a{
    text-decoration: none;
}

.desktop a:hover{
    font-weight: bold;
    background-color: #FA5D5D;
    color: white;
    padding: 0.4rem 0;
    border-radius: 5%;
    opacity: 0.8;
    transition: background-color 500ms ease-in;
}

.mobile{
    display: none;
}

/* Header Section Tablet Styling */

@media only screen and (max-width: 760px) {
    .logo .lighttext, .logo .darktext{
        display: none;
    }
}

/* Header Section  Mobile Styling */

@media only screen and (max-width: 460px) {
    .desktop ul{
        display: none;
    }
    .logo{
        display: none;
    }
    header .mobile{
        display:flex;
        flex: 1;
        margin-right: 1.5rem;
        height: 4rem;
    }
    header .mobile ul{
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
    header .mobile li img{
        width: 2.5rem;
    }
    header ul {
        display: flex;
        align-items: center;
    }
}

/* Banner Section Styling */

.banner{
    display: flex;
    position: relative;
    top: 4rem;
    margin-bottom: 2rem;
    background-color: #D5D5D5;
}

.banner h1{
    padding-bottom: 1rem;
}

/* a banner and information image width of 55% plus 48px of padding
   works out to 60% of the image container in total.
*/

.study{
    width: 55%;
    padding: 2rem 1.5rem;
    border-right: solid 1px #D5D5D5;
}

.study img{
    width: 100%;
}

.start-here{
    margin: auto 0;
    color: #383838;
}

.banner .btn{
    padding: 0.5rem;
    margin-top: 2rem;
    text-align: center;
    background-color: #383838;
    color: white;
    font-size: 2rem;
}

.start-here .btn:hover{
    opacity: 0.8;
    background-color: #FA5D5D;
    transition: background-color 500ms ease-in;
}

/* Banner Section Tablet Styling */

@media only screen and (max-width: 760px) {
h1{
    font-size: 2rem;
    font-weight: bold;
    }
h2, .start-here .btn{
    font-size: 1.33rem;
    }
}

/* Banner Section Mobile Styling */

@media only screen and (max-width: 460px) {
    .banner .site-container{
        flex-direction: column;
    }
    .start-here{
        margin: 2rem 1rem;
    }
    .study{
        padding: 0;
        width: 100%;
    }
    .intro h1{
        font-size: 2.6rem;
        font-weight: bold;
        }
    .intro h2{
        margin: 1.5rem 0 2rem 0;
        font-size: 1.8rem;
    }
    .banner .btn{
        background-color: #999999; 
    }
}

/* Information Section Styling */

.Information{
    position: relative;
    top: 2rem;
    background-color: #F7F5F5;
}

.study h1{
    margin-top: 2rem;
} 

.study h4{
    margin-top: 1.5rem;
    line-height: 1.2rem;
} 

.academy{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    width: 40%;
    text-align: left;
    align-content: flex-start;
}

.academy-img:first-child{
    padding: 0 1rem 1rem 1rem;
    border-bottom: solid 2px #D5D5D5;
}

.academy-img{
    width: 35%;
    padding: 1rem;  
}

.academy-img img{
    width: 100%;
    height: auto;
}

.greybg{
    background-color: #D5D5D5;
}

.academy-info{
    display: flex;
    flex-direction: column;
    width: 56%;
    justify-content: center;
}

.academy .border{
    border-bottom: solid 2px #D5D5D5;
}

.academy a{
    text-decoration: none;
    color: #47B5F5;
    font-weight: bold;
    font-size: 0.75rem;
}   

.academy-img-mobile{
    display:none;
}

/* Information Section Tablet Styling */

/* @media only screen and (max-width: 760px) {

} */

/* Information Section Mobile Styling */

@media only screen and (max-width: 460px) {
    .Information .study, .academy-img {
        display: none;
    }
    .academy{
        padding: 0;
        width: 100%;
        background-color: #F7F5F5;
    }
    .academy .border{
        border-bottom: none;
    }
    .academy-img:first-child{
        border-bottom: none;
        padding: 0;
    }
    .academy-img-mobile {
        display: block;
        width: 100%;
        padding: 1rem;
    }
    .academy-img-mobile img{
        width: 100%;
    }
    .academy-info {
        margin-left: 2rem;
        width: 100%;
    }
    .academy .academy-info:last-child{
        background-color: #F7F5F5;
    }
    .academy a{
        /* should be 3REM but 1REM looks more like the wireframe brief IMO */ 
        margin-bottom: 1rem; 
    }   
}

/* Courses Section Styling */

.Courses{
    position: relative;
    background-color: #E8E8E8;
    top: 2rem;
    text-align: center;
}

.Courses h1, .Thesis h1{
    padding: 2rem 0;
}

.course img{
    max-width: 100%;
    height: auto;
}

.course-container{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between; 
}

.course{
    width: 26.1111111%; /* to ensure 32px spacing between course elements */
    background-color: white;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
}

.course:nth-child(3n+1)
{
    margin-left: 4.5rem;
}

.course:nth-child(3n+3)
{
    margin-right: 4.5rem;
}

.course h3{
    margin: 1rem;
}

.course h4{
    margin: 0.5rem 3rem 0 1rem;
    line-height: 1rem; 
}

/* Course Section Tablet Styling */

/* @media only screen and (max-width: 760px) {

} */

/* Course Section Mobile Styling */

@media only screen and (max-width: 460px) {
    .course img, .course h4 {
        display:none;
    }
    .Courses h1{
        padding: 2rem 0 1rem 0;
    }
    .course-container{
        flex-direction: column;
        margin: 0 1rem 1.5rem 1rem;
        flex: 1;
    }
    .course{
        width: 100%;
        background-color: #D5D5D5;
    }
    .course:nth-child(1n+1)
    {
        margin:0 0 0.5rem 0;
        padding:0;
    }
    .course h3{
        margin: 0;
        padding: 1rem;
    }
}

/* Thesis Section Styling */

.Thesis{
    position: relative;
    background-color: #F7F5F5;
    top: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.urban-video{
    width: 57%;
    margin: 0 1.5rem 1.5rem 1.5rem;
    text-align: left;
}

.urban-video video{
    width: 100%;
}

.Thesis .academy{
    margin-top:0 ;
}

.Thesis .academy-img:first-child{
    padding: 1rem;
}

.urban-video h3{
    padding: 1.5rem 0 0.5rem 0;
}

/* Thesis Section Tablet Styling */

/* @media only screen and (max-width: 760px) {

} */

/* Thesis Section Mobile Styling */

@media only screen and (max-width: 460px) {
    .Thesis .academy, .urban-video h3, .urban-video h4  {
        display: none;
    }
    .urban-video{
        width: 100%;
        margin: 0 0 1.5rem 0;
    }
}

/* Footer Section Styling */

footer{
    position: relative;
    background-color: #F7F5F5;
    font-size: 0.75rem;
}

footer .site-container{
    border-top: solid 1px #D5D5D5;
    padding: 1rem 1.5rem;
}

.copyright{
    flex:1;
}

.terms li{
    display: inline;
}

.terms a{
    text-decoration: none;
}

/* Footer Section Tablet Styling */

/* @media only screen and (max-width: 760px) {

} */

/* Footer Section Mobile Styling */

@media only screen and (max-width: 460px) {
    .terms  {
        display: none;
    }
}
