/* This website has been developed and tested on a
   wide-screen monitor - resolution 1920 x 1080 */

/* Universal Styling */

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.lighttext, .darktext {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.lighttext{
    color: #75323F;
}

.darktext{
    color: #565656;
    font-weight: bold;
}

h1{
    font-size: 3rem;
    font-weight: bold;
}

h2{
    font-size: 2rem;
}

/* Header Section Styling */

header{
    display:flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: white;
    height: 4rem;
}

.logo{
    display:flex;
    flex: 1;
    align-items: center;
    margin-left: 1.5rem;
}

.logo img{
    width: 2.5em; 
}

.desktop{
    display:flex;
    align-items: center;
    margin-right: 1.5rem;
}

.desktop li{
    display: inline;
    margin-left: 1rem;
}

.desktop a{
    text-decoration: none;
}

.desktop a:hover{
    font-weight: bold;
    background-color:#01016B;
    color: white;
    padding: 0.4rem 0;
    border-radius: 5%;
    opacity: 0.8;
    transition: background-color 500ms ease-in;
}

.mobile{
    display: none;
}

/* Header Section Tablet and Mobile Styling */

@media only screen and (max-width: 760px) {
    .logo .lighttext, .logo .darktext{
        display: none;
    }
}

@media only screen and (max-width: 460px) {
    .desktop ul{
        display: none;
    }
    .logo{
        display: none;
    }
    .mobile{
        display:flex;
        flex: 1;
        align-items: center;
        margin-right: 1.5rem;
    }
    .mobile ul{
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
    .mobile li img{
        width: 2.5rem;
    }
}

/* Banner Section Styling */

.banner{
    display: flex;
    position: relative;
    top: 4rem;
    background-color: #D5D5D5;
}

.study{
    width: 60%;
    margin: 2rem 1.5rem;
}

.study img{
    width: 100%;
}

.start{
    margin: auto 0;
    color: #383838;
}

.start .btn{
    padding: 0.5rem;
    margin-top: 2rem;
    text-align: center;
    background-color: #383838;
    color: white;
    font-size: 2rem;
}

.start .btn:hover{
    opacity: 0.8;
    background-color:#01016B;
    transition: background-color 500ms ease-in;
}

/*Banner Section Tablet and Mobile Styling */

@media only screen and (max-width: 760px) {
h1{
    font-size: 2rem;
    font-weight: bold;
    }
h2, .start .btn{
    font-size: 1.33rem;
    }
}

@media only screen and (max-width: 460px) {
    .banner{
        flex-direction: column;
    }
    .study{
        margin: 0;
        width: 100%;
    }
    .start{
        margin: 2rem 1rem;
    }
    .intro h2{
        margin: 1.5rem 0 2rem 0; 
    }
    h1{
        font-size: 3rem;
        font-weight: bold;
        }
    h2, .start .btn{
        font-size: 2rem;
        }
}